@import "variables";
// bower:scss
@import "../js/vendor/bootstrap-sass/assets/stylesheets/bootstrap";
// endbower

body {
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 50px;
}

.navbar-toggle {
    display: block;
}